%table.table#admin_dash
  %tbody
    %tr
      %td= link_to 'Manage Users', users_path
      %td= link_to 'Manage Students'
    %tr
      %td= link_to 'Manage Tutors'
      %td= link_to 'Manage other stuff'
    %tr
      %td= link_to 'Even more stuff'
      %td= link_to 'Another option'
