%h4
  This week's mentoring sessions for #{@student.name}
  %br
  #{@start_date} to #{@end_date}
%div{:id => "progress"}
  
  %h5
    Hours:
    %span{:style => "color: #{@color}"}= "%0.2f/%0.2f" % [@total_hours, @required_hours]
    %progress{:max => '4', :value =>@total_hours}

%table.table#tutoring_sessions
  %thead
    %tr
      %th Time in
      %th Time out
      %th Tutor
      %th Hours
  %tbody
    - @sessions.each do |session|
      %tr.tutordash
        %td= session.start_time
        %td= session.stop_time
        %td= session.tutor.name
        %td= session.hours
     

