%div{:style => "width:100%"}
  =simple_form_for :dashboard, :url => dashboard_path do |f|
    =f.input_field :query, :required => false, :label => false, :placeholder => "Search by name, email, or grade"
    =f.button :submit, "Search", :class => "btn search-btn"

  %table.table#students
    %thead
      %tr
        %th{:class => @name_header}= link_to 'Name', users_path(:sort => 'name'), :id => 'name_header'
        %th Email
    %tbody
      - @students.each do |student|
        %tr.tutordash
          %td= student.name 
          %td= student.email
          -if student.is_signed_in?
            %td
              Signed in at #{student.current_mentoring_session.start_time.strftime("%H:%M")}
              = form_tag signout_path do
                = text_field_tag "time", DateTime.now.strftime("%H:%M"), :style => "width:40px"
                = hidden_field_tag "student_email", student.email
                = submit_tag 'Sign Out'
          -else
            %td
              Sign in Time
              = form_tag signin_path do
                = text_field_tag "time", DateTime.now.strftime("%H:%M"), :style => "width:40px"
                = hidden_field_tag "student_email", student.email
                = submit_tag 'Sign In'
