
%table.table#students
  %thead
    %tr
      %th{:class => @name_header, :id => 'students'}= link_to 'Name', students_path(:sort => 'name'), :id => 'name_header'
      %th Email
      %th{:class => @grade_header, :id => 'students'}= link_to 'Grade', students_path(:sort => 'grade'), :id => 'grade_header'
      %th{:class => @hours_completed_header, :id => 'students'}= link_to 'Hours Completed', students_path(:sort => 'hours_completed'), :id => 'hours_completed_header'
      %th Progress
      %th Send Alert Email
  %tbody
    - @students.each do |student|
      %tr
        %td.students= link_to "#{student.name}", student_path(student) 
        %td.students= student.email
        %td.students= student.grade
        %td.students= student.hours_completed.to_s + "/" + student.required_hours
        %td.students
          %progress{:max => student.required_hours, :value => student.hours_completed}
        - if student.required_hours.to_i - student.hours_completed > 0
          %td.students= button_to "Send Alert", send_alert_path(:student_email => student.email)
        
-#= form_tag(users_path, :action => "export_to_csv", :format => "csv") do 
-#  = submit_tag "Export To CSV" 

= link_to "Export To CSV", students_path(:format => :csv), :format => 'csv', :action => "export_to_csv"

