%h2 Details about #{@student.name}

=simple_form_for @student, :html => {:class => "form-horizontal"} do |f|
  =f.input :custom_hours, :collection => (1..9), :label => "Teen Improvement Program", :prompt => "New weekly requirement", :class => "search-btn"
  =f.button :submit, "Set Required Hours", :class => "btn btn-primary search-btn"

- if @student.custom_hours.present?
  =simple_form_for @student, :html => {:class => "form-horizontal"} do |f|
    =f.button :submit, "Clear Custom Hours", :class => "btn btn-primary search-btn"

%table.table#students_data
  %thead
    %tr
      %th Time in
      %th Time out
      %th Tutor
      %th Hours
  %tbody
    - @sessions.each do |session|
      %tr.student_data
        %td= session.start_time
        %td= session.stop_time
        %td= session.tutor.name
        %td= session.hours
