!!!
%html
  %head
    %title Y-Scholars Logger
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    =render :partial => "header"
    
    .container
      #content
        - if flash[:notice]
          #notice.message= flash[:notice]
        - elsif flash[:warning]
          #warning.message= flash[:warning]
        =yield

